

$colors:(
	hsl(  36, 100%, 50%),
	hsl(  72, 100%, 50%),
	hsl( 108, 100%, 50%),
	hsl( 144, 100%, 50%),
	hsl( 180, 100%, 50%),
	hsl( 216, 100%, 50%),
	hsl( 252, 100%, 50%),
	hsl( 288, 100%, 50%),
	hsl( 324, 100%, 50%)
	);


@for $i from 1 through length($colors) {
	section:nth-child(#{length($colors)}n+#{$i}) {
		background: lighten(nth($colors, $i), 20%);
	}
}


section{
	width:100%;
	height:100vh;
	display:flex;
	align-items:center;

	&.count-2{
		height:83vh;
	}
	
}

h2{
	font-size:2em;
	font-weight:bold;
	margin:0 0 50px;
}

p{
	margin:25px 0 0;
	& + h2{
		margin-top:50px;
	}
}


.wrapper{

	max-width:1400px;
	width:90%;
	margin:0 auto;
	
	transition:.3s ease-in-out;
}

[data-view]{}

[data-view="inQueue"], [data-view="exited"]{
	opacity:0;
}
[data-view="entering"], [data-view="exiting"]{
	opacity:.2;
	// background:black;
	// color:white;
}

[data-view="inQueue"]{
	transform:translateY(200%);
}
[data-view="entering"]{
	transform:translateY(100%);
}
[data-view="inView"]{
	opacity:1;
	transform:translateY(0%);
	// background:white;
	// color:black;
}
[data-view="exiting"]{
	transform:translateY(-100%);
}
[data-view="exited"]{
	transform:translateY(-200%);
}