@import 'resets';
@import 'shared';

.flipCards{
	margin:15px 0;
	min-height:100vh;
	@include row(left, center);
	
	@import 'flipCards';
}

.logoEffects{
	@import 'logoEffects';
}

.touchSwipe{
	margin:0;
	display:flex;
	align-items:center;
	justify-content:center;
	flex-flow:column;
	min-height:100vh;
	
	@import 'touchSwipe';

}
