@import '../_resets';
@import '../_shared';

.wrapper{
	width:90%;
	max-width:1200px;
	margin:0 auto;
}

.flex{
	display:flex;
}


.flip-container{
	perspective: 1000px;
	flex-basis: calc(25% - 25px);
	margin:12.5px;
	position: relative;
	&:hover{
		.flipper{
			transform:rotateY(180deg);
		}
	}
}

.flipper{
	transition: 0.6s;
	transform-style: preserve-3d;
	position: relative;
	// margin: 12.5px;
	// width: calc(100% - 25px);
	width:100%;
	// box-shadow:0 0 0 1px;
	height: 100%;
	transform: rotateY(0deg);
	min-height: 275px;
}


.front, .back{
	backface-visibility: hidden;
	// position: absolute;
	top: 0;
	left: 0;
	color:$white;
	width: 100%;
	min-height: 275px;
}

.front{
	z-index: 2;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	flex-wrap: wrap;
	transform: rotateY(0deg)translateY(-50%);
	background: #f36c23;
	padding: 40px 15px;
	position: absolute;
	top:50%;

}

.back{
	transform: rotateY(180deg);
	box-shadow: 0px 20px 45px 0px rgba($black, .2);
	background: #ff7b00;
	z-index: 3;
	position:relative;
	height:100%;
	display:flex;
	flex-flow:column;
	justify-content:center;
	
	.title{
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		text-align: center;
		flex-wrap: wrap;
		margin: 25px auto;
		max-width: calc(100% - 25px);
	}
	.text{
		width:100%;
		// flex:2;
		padding:0 25px 25px;
	}
}